@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Source+Code+Pro&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}

#watermark {
  position: absolute;
  top: 50px;
  left: 50px;
  color: #a736ea;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  background: #a736ea;
}

.right img {
  height: 80%;
  width: 80%;
  padding: 30px;
}

.left h1:nth-child(2) {
  font-size: 3rem;
  width: 80%;
}

.left button {
  padding: 15px;
  border: 2px solid black;
  background: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  position: absolute;
  bottom: 150px;
}

@media screen and (max-width: 900px) {
  .right {
    display: none;
  }

  .left {
    width: 100%;
    text-align: center;
  }

  .left h1:nth-child(2) {
    font-size: 2.2rem;
}

@media screen and (max-width: 590px) {
  .left h1:nth-child(2) {
    font-size: 1rem;
  }

  #watermark {
    font-size: 1.2rem;
  }
} ;
